body {
	background: black;
}

ss * {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	/* tus estilos van aquí */
	background: white !important;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: relative 100px;
	margin: flex 80px;
}
