body {
	background: black;
}

ss * {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	/* tus estilos van aquí */
	background: white !important;
	width: 400px;
	height: 300px;
	margin: auto;
}
